<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    colors="true"
    bootstrap="./vendor/autoload.php">
    <testsuites>
<!--        <testsuite name="Mailjet APIv3 PHP wrapper test suite">
            <file>./test/Mailjet/test.php</file>
        </testsuite>-->
        <testsuite name="apiv3-wrapper">
            <file>./test/Mailjet/MailjetApiv3Test.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
